.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: var(--Default-Layout-width);
    display: flex;
    background-color: aliceblue;
}
.content {
    flex: 1;
    display: flex;
}